@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body{
    background: black;
}
.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas: "Header" "Main" "Footer";
}
.header{ 
    grid-area: Header;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    margin-left: 2%;
}
.logo{
    color: mintcream;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
}
.links{
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin-right: 5%;
}
.links li{
    list-style: none;
    text-decoration: none;
    color: mintcream;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}
.menu{
    display: none;
    cursor: pointer; 
}
.menu div{
    width: 25px;
    height: 3px;
    background-color: rgba(6, 187, 247, 0.842);
    margin: 5px;
    transition: all 0.3s;
}
.main { 
    grid-area: Main; 
}
h1{
    color: mintcream;
    font-size: 60px;
    margin-left: 10%;
    margin-top: 5%;
    letter-spacing: 18px;
}
#a, #d1, #d2, #y {
    color: rgba(6, 187, 247, 0.842);
    font-size: 45px;
}
#a:hover{
    color: teal;
}
#d1:hover{
    color: mediumslateblue;
}
#d2:hover{
    color: indigo;
}
#y:hover{
    color: midnightblue;
}
.footer { 
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    grid-area: Footer; 
    background-color: rgba(6, 187, 247, 0.842);
    text-align: center;
}
#themeChange{
    padding: 1%;
}

#projects{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pro{
    text-decoration: none;
    color: mintcream;
    text-align: center;
}



/* For screen sizing */

@media screen and (max-width: 1024px){
    .links{
        display: flex;
        justify-content: space-around;
        width: 75%;
        margin-right: 5%;
    }
    h1{
        font-size: 50px;
        margin-left: 12%;
        margin-top: 10%;
        letter-spacing: 14px;
    }
    #a, #d1, #d2, #y {
        font-size: 35px;
    }
}
@media screen and (max-width: 768px){
    h1{
        font-size: 45px;
        margin-left: 8%;
        margin-top: 15%;
        letter-spacing: 10px;
    }
    #a, #d1, #d2, #y {
        font-size: 32px;
    }
    body{
        overflow-x: hidden;
    }
    .links{
        position: fixed;
        right: 0px;
        height: 75vh;
        top: 15vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin-right: 0%;
        transform: translateX(100%);
    }
    .menu{
        display: block;
        margin-right: 5%;
    }
    .links li{
        opacity: 0;
    }
}



/* For animations */

.linksActive{
    transform: translateX(0%);
    transition: transform 0.5s ease-in; 
}
@keyframes linkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}
.exit .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.exit .line2{
    opacity: 0;
}
.exit .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}